
#welcomeBox{
    
}



















.zoom:hover {
    transform: scale(1.3); 
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: #ff8080;
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredStats{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}


.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}











form {
    border: 3px solid #ff8080;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #ff8080;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}



.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.nostretch{
    transform: absolute;
}



.login, .guest, .signup {
    margin: auto;
}

.tablebody {
    display: table;
    height: 100%;
    margin: auto;
    padding: 0;
    width: 100%;
  }
  
  .row {
    display: table-row;
    height: 33.3333%;
  }
  
  .row:nth-child(1) {
    background-color: #ffffff;
  }
  
  .row:nth-child(2) {
    background-color: #000000;
  }

  .row:nth-child(3) {
    background-color: #ff8080;
  }

  .imagesize{
      width: 90px;
      height: 90px;
      
  }




#login{
    position: absolute;
    top: 16.6666666666666%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

#guest{
    position: absolute;
    top: 83.333333333333%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

#textlogin{
font-size: 30px;
color: #111;
}

#textsignup{
font-size: 30px;
color: #ff8080;
}

#textguest{
font-size: 30px;
color: #111;
}

#logininput{
    background-color: #ff8080;
    font-size: 50px;
    
}

#emailinput{
    background-color: #ff8080;
    font-size: 50px;
}

#passwordinput{
    background-color: #ff8080;
    font-size: 50px;
}


#loginimage{
    width: 70%;
    border-radius: 30%;
}

#loginbutton{
    font-size: 60px;
}

#continueandforgot{
    font-size: 35px;
    font-style: normal;
    color: #111;
}

#txtEmail{
    background: rgba(0, 0, 0, 0.377);
    
    outline: none;
}

#txtPassword{
    background: rgba(0, 0, 0, 0.377);
    
    outline: none;
}

::placeholder{
    color: black;
    opacity: 1;
}

#btnLogin{
background: transparent;
font: bold;
}

.centerLoginBtn{
border-radius: 50%;
height: 100px;
width: 100px;
position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    
}

.centerLoginInput{
    position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centerSignUpBtn{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #b14d3ee7;
    position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
        
    }


    #btnSignUp{
        background: transparent;
    }
    .centerSignUpInput{
        position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    #txtNewEmail{
        background: rgba(0, 0, 0, 0.377);
    
    outline: none;
    
    }

    #txtNewPassword{
        background: rgba(0, 0, 0, 0.377);
    
        outline: none;    }

    #txtUsername{
        background: rgba(0, 0, 0, 0.377);
    
        outline: none;    }



#AccountEditBtn{
      margin: auto;
      position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#AccountView{
    margin: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#accountEditSubmitBtn{
    margin: auto;
    position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#accountSubmitBtn{
    background: transparent;
    color: #ff8080;
    
}


#accountEdit{
    margin: auto;
    position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rowhalf{
    display: table-row;
    height: 50%;
}



#newUsername{
    background: rgba(0, 0, 0, 0);    
    outline: none;
    color: #ff8080;
}

#txtFullname{
    background: rgba(0, 0, 0, 0.377);
    
    outline: none;}

#opponentUname{
    background: rgba(0, 0, 0, 0);    
    outline: none;
    color: #ff8080;
    
}

#doesntExist{
    color: #ff8080;
}

#printRaceTo{
    color: #ff8080;
}

#player1Name{
    margin: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #111;
}

#player2Name{
    margin: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff8080;
}



#player1Score{
    margin: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #111;
    font-size: 100px;
}
#player2Score{
    margin: auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff8080;
    font-size: 100px;
}


#player1Up{
    margin: auto;
    position: absolute;
    top: 25%;
    left: 80%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #111;
    color: #ff8080;
    border-radius: 150px;
    font-size: 50px;
}


#player1Down{
    margin: auto;
    position: absolute;
    top: 25%;
    left: 20%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #111;
    color: #ff8080;
    border-radius: 150px;
    font-size: 50px;
}

#player2Up{
    margin: auto;
    position: absolute;
    top: 75%;
    left: 80%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ff8080;
    color: #111;
    border-radius: 150px;
    font-size: 50px;
}


#player2Down{
    margin: auto;
    position: absolute;
    top: 75%;
    left: 20%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ff8080;
    color: #111;
    border-radius: 150px;
    font-size: 50px;
}

#whoWon {
    color: #ff8080;
    font-size: 40px;
}

#player2Warning{
    color: #ff8080;

}

#player2Pwd{
    background: rgba(0, 0, 0, 0);    
    outline: none;
    color: #ff8080;
}

#submitMatch{
    color: #111;
}
#wrongPwd{
background: rgba(0, 0, 0, 0);    
outline: none;
color: #ff8080;
}


#deleteAccount{
    color: #111;
}

#changePwd{
    color: #111;
}

::placeholder{
    color: #ff8080;
}

#newPwd{
    background: rgba(0, 0, 0, 0);    
    outline: none;
    color: #ff8080;
}
#repeatNewPwd{
    background: rgba(0, 0, 0, 0);    
    outline: none;
    color: #ff8080;
}
#changePwdGetResponse{
color: #ff8080;
    }

#editCategory{
    background: rgba(0, 0, 0, 0.404);    
    outline: none;
    color: #ff8080;}

#editCue{
    background: rgba(0, 0, 0, 0.404);    
    outline: none;
    color: #ff8080;}

#editKozoom{
    background: rgba(0, 0, 0, 0.404);    
    outline: none;
    color: #ff8080;
}


#backToMainMenu{
    font-style: normal;
    color: black;
}

#raceTo{
    background-color: #111;
    color: #ff8080;
    border: none;

}