html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }




.center {
    display: block;
    margin: 0 auto;
}

.btn {
    margin: 5px;
}

/* Welcome Page */


#welcomeButtonBoxes{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}


/* Login Page */

#loginInfo{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

/* Sign Up Page */

#centerSignUpInput{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}



/* Main Page */

#mainPageBoxes{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

#welcome{
    left: calc(50% - 40%);
    margin: 0;
    margin-top: 100px;
    width: 80%;
    font-size: 300%;
    text-align: center;

}

/* Standard Choose Opponent */

#divChooseOpponent{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;
    
}


/* Choose Game Standard*/

#chooseGameDiv
{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

/* Game Page Standard */

#player1 {
    position: absolute;
    top: 10px;
    left: calc(50% - 40%);
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

    height: calc(50% - 10px - 50px);

}

#player2 {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 40%);
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

    height: calc(50% - 10px - 50px);

}

#gameon {
    position: absolute;
    margin: 0;
    left: calc(50% - 40%);
    top: calc(50% - 30px);
    width: 80%;
    font-size: 30px;
}


/* Game Page Guest */

#player1 {
    position: absolute;
    top: 10px;
    left: calc(50% - 40%);
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

    height: calc(50% - 10px - 50px);

}

#player2 {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 40%);
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

    height: calc(50% - 10px - 50px);

}

#gameon {
    position: absolute;
    margin: 0;
    left: calc(50% - 40%);
    top: calc(50% - 30px);
    width: 80%;
    font-size: 30px;
}



/* Finish Up Standard */

#finishup{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

/* Stats Page */

#centeredStats{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

/* Account Page */

#accountpage{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

#name {

    
    left: calc(50% - 40%);
    margin: 0;
    margin-top: 40px;
    width: 80%;

}

/* Edit Account */

#accountedit{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

/* Settings */

 #settings{
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

 }


 /* Live Game Init */

 .qrcode-text-btn {
    display: inline-block;
    cursor: pointer;
  }
  
  .qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    opacity: 0;
  }

  .qrcode-text {
    padding-right: 1.7em;
    margin-right: 0;
    vertical-align: middle;
  }
  
  .qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin-left: -1.7em;
    vertical-align: middle;
  }

  #initlive{
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

  }

#qrcode{

margin-left: calc(50% - 64px);
margin-top: 30px;
margin-bottom: 30px;
}


/* Live Game Page */

#livegamecard{
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}

#gameonrelative{
    position: relative;
    margin: 0;
    margin-left: calc(50% - 40%);
    margin-top: 20%;
    width: 80%;
    font-size: 30px;

}

/* Choose Gammme Guest */

#divGuest{
    margin: 0 auto;
    margin-top: 40%;
    width: 50%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}


/* choose live game */

#chooselivegame{
    margin: 0 auto;
    margin-top: 10%;
    width: 90%;
    background-color: white;
    padding: 5px;
    color: black;
    line-height: 35px;
    border-radius: 20px;

}