#header {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0;
    border-radius: 0;
    border-bottom: 3px solid #f8b500;
}

#goldblock {
    position: absolute;
    right: 0px;
    margin: 0px;
    background-color: #f8b500;
    height: 100%;
    width: 75px;
}

#logo {
    color: #f8b500;
    font-size: 30px;
    margin: 10px;
    margin-left: 15px;
}

#menu-icon {
    position: fixed;
    right: 8px;
    font-size: 50px;
    margin: 5px;
    color: white;
}

#fm-medium-embed {
    position: relative;
    width: 30%;
    margin: 0 auto;
    margin-top: 150px;
}

a {
    color: #f8b500;
}

.fm-post-read-more {
    color: #f8b500;
}


.fm-post-wrapper {
    padding: 15px;
    border-left: 3px solid #f8b500;
    border-radius: 11px;
}

.fm-medium-profile {
    visibility: hidden;
}