* {
  color: white;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #40a1c7;
}

input[type="file"] {
  position: absolute;
  z-index: -100;
  top: 6px;
  left: 0px;
  font-size: 15px;
  color: rgb(153,153,153);
  display: none;
}

#input {
  text-align: left;
  font-size: 160%;
  width: 80%;
  background-color: transparent;
  padding-top: 100px;
  margin-left: 10%;
}

#inputField {
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  width: 450px;
  padding: 7px;
  background-color: #40a1c7;
  border: 3px solid white;
  font-size: 80%;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#inputField:hover, #textField:hover, #uploadButton:hover{
  background-color: rgba(255, 255, 255, .7);
  color: #40a1c7;
  cursor: pointer;
}

#submitButton:hover {
  background-color: rgba(255, 255, 255, .7);
  cursor: pointer;
  color: #40a1c7;
}

#deleteButton:hover {
  background-color: rgba(255, 0, 0, .5);
  cursor: pointer;
}

#textField {
  margin-bottom: 25px;
  margin-top: 5px;
  color: white;
  width: 450px;
  height: 200px;
  padding: 7px;
  background-color: #40a1c7;
  border: 3px solid white;
  font-size: 80%;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#fileToUpload {
  color: white;
  padding: 7px;
  background-color: #40a1c7;
  font-size: 80%;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

table {
  text-align: left;
  font-size: 115%;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

th {
  text-align: left;
  font-size: 115%;
  border-collapse: collapse;
  margin-left: 10%;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

p {
  color: #40a1c7;
}

#TableBody {
  border: 0px;
  border-bottom: 3px solid white;
}

#hidden {
  display: none;
}

#submitButton {
  color: white;
  padding: 9px;
  background-color: #40a1c7;
  border: 3px solid white;
  font-size: 100%;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 30px;
  transition: 0.3s;
  min-width: 150px;
}

#deleteButton {
  color: white;
  padding: 8px;
  background-color: #40a1c7;
  border: 3px solid white;
  font-size: 100%;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
}

#uploadButton {
  color: white;
  padding: 8px;
  background-color: #40a1c7;
  border: 3px solid white;
  font-size: 100%;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 10%;
  transition: 0.3s;
}

.alert {
  background-color: rgba(255, 255, 255, .75);
  border: 3px solid white;
  border-radius: 30px;
  width: 400px;
  height: 150px;
  padding-top: 20px;
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 150%;
  text-align: center;
}

#info {
  position: absolute;
  top: 400px;
  left: 750px;
  font-size: 150%;
}

#footer{
  position: absolute;
  bottom: 0;
}